# Dependencies
node_modules/

# Database
*.db
*.sqlite
*.sqlite3
orbitcart.db

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Netlify
.netlify/
